<div class="main__container">

      <img class ="zoom" src="assets/images/donator.png" 
        alt="Donator" routerLink="/donator"
        style="width:420px; height:600px;"/>
      <img class ="zoom" src="assets/images/doctor.png"
        alt="Doctor" routerLink="/doctor"
        style="width:420px; height:600px;"/>
      <img class="zoom" src="assets/images/personaltransfuzie.png"
        alt="PersonalTr" routerLink="/personaltr"
        style="width:420px; height:600px;"/>
   
  <router-outlet></router-outlet>

</div>



